body{
    background-image: url(/images/lauren-mancke-sil2Hx4iupI-unsplash.jpg);
    background-position: 100%;
    background-size: cover;
}
.container, .nav, .nav-bar, .ul  {
background-color: yellow;
text-decoration: none;

    
   
}
.nav{
    float: left;
    

    
    
}

    
.nav-bar{
    float: right;
    
}

.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav-bar li{
    display: inline-block;
    margin-left: 70px;
    font-size: 150%;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    background-color: yellowgreen;
    
    
}
a:hover:active{
    color: yellowgreen;
}
.statement{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-left: 200px;
    color: black;
    font-size: x-large;
}
footer{
    position: fixed;
    bottom: 0;
    padding-left: 30%;
    background-color: yellow;
    width: 100%;
    font-style: normal;
    height: 5%;
    font-size: 150%;
 }
 .container::after{
    content: "";
    display: table;
 }
button{
    background-color: yellow;
    list-style: none;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 70px; 
    margin-top: 25px;
   
}
button, a{
    text-decoration: none;
    color: black;

}
button, li{
    font-size: 70%;
}
